---
title: メディア研究
discription: discription
cat: web総合概論
next-page-url: "11_outline_media.html"
filename: 10_outline_media.html
prev-page-url: "#"
titlename: "{{title.titlename}}"
text: "{{item.text}}"
text2: "{{item.text}}"
---
<div class="container mb-5">
<article id="w-article">
<!-- editable area ########             -->
        <h1>{{title}} - {{cat}}</h1>
        <p><span>category:</span> <span class="badge badge-primary">{{cat}}</span></p>
        <hr>

<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body">
<p  class="card-text">各メディアの特徴とWebの関係、メディアの役割とその効果はなんでしょうか？</p>
<p>メディアというキーワードを使って webの役割と期待される事を考えてみましょう。</p>
<div class="alert alert-info">
<p class="mb-0"><small >※調べる 書く 発表する</small></p>
</div>
</div>
</div>
<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul id="w-indexlistBox">
    <li v-for="item in items" class="w-indexlistBox-list">
      <a v-bind:href="item.id" data-scroll >{{text2}}</a>
    </li>
</ul>
</div>
<!-- / 目次 モジュール -->

<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6 clearfix">
<h2>メディア</h2>

<div class=" card">

<div class="card-body">
<h3>語源</h3>
<cite><a href="https://ja.wikipedia.org/wiki/%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2#:~:text=3%20%E6%9E%B6%E7%A9%BA-,Media,%E5%85%A5%E3%81%A3%E3%81%A6%E5%AA%92%E4%BB%8B%E3%81%99%E3%82%8B%E3%82%82%E3%81%AE%E3%80%82
" target="_blank">出典 ja.wikipedia.org</a></cite>


<p>media（メディア）はmedium（メディウム）の複数形。（ミディアム）medium は、中間にあるもの、間に取り入って媒介するもの。</p>

<dl>
    <dt>メディア</dt>
    <dd><p>手段　媒体</p>
        <p>情報を発信する道具のこと。
        文字　音声　画像　点字　などで人間の感覺器官に刺激を与え情報を伝達と記録するための中間に位置する道具全般</p>
    </dd>
</dl>


<h3> 媒体</h3>
<ul>
<li>- メディア (媒体) - 情報の媒体。・・・マスメディアなどを用いるマスコミや報道</li>
<li>- 電子媒体 - デジタルデータの形で情報を記録、配布する媒体。</li>
<li>- 伝送路 - 情報を伝送する媒体。通信媒体、伝送媒体。</li>
<li>- 巫女</li>
</ul>

<h3>構造</h3>
<p>情報の送信構造では下記のような構造になる。</p>
<p>コンテンツ(情報)ー＞　メディア　ー＞　カスタマー（消費者）</p>
</div>
</div>
</div>
<!-- #s1 -->
<div id="s2" class="mt-n6 pt-6 mb-6 clearfix">
<h2>マスメディア</h2>
<h3 class="card-header">概説</h3>
<div class="card">
<div class="card-body">
<cite><a href="https://ja.wikipedia.org/wiki/%E3%83%9E%E3%82%B9%E3%83%A1%E3%83%87%E3%82%A3%E3%82%A2
" target="_blank">出典 ja.wikipedia.org マスメディア</a></cite>


<p>マスメディアとはマスコミュニケーションを行うメディア（＝媒体）のことであり、たとえば新聞・出版・放送・映画などのこと[1]。ブリタニカ国際百科事典によると、新聞、テレビ、ラジオ、映画、雑誌などがその代表、とのことであり、受け手である大衆に対して 公的・間接的・一方的に意味内容を伝達するような技術的道具や装置のことを言う[2]。また「マスメディア」は、マスメディアを用いてマスコミュニケーションを行っている組織も含めて指すこともある。例えば新聞社、出版社、放送局（テレビ局、ラジオ局）などである。</p>

<p>なおマスコミュニケーションとは、大衆への大量の情報伝達を指す[3]。が、日本では「マスコミュニケーション」の略語の「マスコミ」をマスメディアという意味でも用いることがある[4]。なお、マスメディアのうち「新聞」や「放送」ならびに「雑誌」は、「報道」や「ジャーナリズム」と言い換えられたり、マスニュースメディア (mass news media) と呼ばれることがある。「マス(mass)」という語は多義的で、もともと、大量（のモノ、コト）や大勢の人々を意味し、群衆などの意味もあるが、辞書などのマスメディアに関する説明では、「大衆」や「大量」の意味だとされることが多い。</p>

<p>現代のマスメディアがどのような状態かというと、資本主義社会においてはマスメディアの大多数が営利企業としていとなまれており、その結果、利潤の獲得や経営の安定が優先される傾向があり、伝達される内容が低俗化・画一化する傾向がある。一方、社会主義社会においては政府や支配政党の方針によって伝達される内容が編集される状態になる。</p>



<h3> Webサービスにおけるマスメディア</h3>
<p>情報の消費動向はインターネットの家庭や個人への普及したがい従来の紙面や放送媒体からwebサービスへの接続による情報の収集に移行している。</p>

</div>
</div>
</div>
<div id="x2" class="mt-n6 pt-6 mb-6 clearfix">
<div class=" card">
        <h3 class="card-header">メディアを列挙してみよう。</h3>
        <div class="card-body">
                <p class="text-left">自分でよく使うメディアやそうじゃないかな？と思うものをメモや黒板に書き出してみよう。</p>
<textarea cols="46" rows="12" class="col-lg-10 mx-auto"></textarea>
</div>
</div>
</div>

<!-- editable area end ########             -->
</article>
</div>
<!-- /container-->

<!-- / w-aside2 --->
