---
title: コピーライティングについて
discription: サーバークライアント型のネットワークについて
cat: web総合概論
next-page-url: "19_outline_media.html"
filename: 193_outline_media.html
prev-page-url: "192_outline_media.html"
titlename: "{{title.titlename}}"
text: "{{item.text}}"
text2: "{{item.text}}"
---
<div class="container mb-5">
<article id="w-article">
<!-- editable area ########             -->
        <h1>{{title}} - {{cat}}</h1>
        <p><span>category:</span> <span class="badge badge-primary">{{cat}}</span></p>
        <hr>
<!-- 序章 モジュール -->
<div class=" mb-4 alert alert-info">
<div class="card-body">
<p class="card-text">キャッチコピー</p>
<p>コピーライティングとはサービスを連想され、購入動機を高める短めの言葉ですね。</p>
</div>
</div>

<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul id="w-indexlistBox">
    <li v-for="item in items" class="w-indexlistBox-list">
      <a v-bind:href="item.id" data-scroll >{{text2}}</a>
    </li>
</ul>
</div>
<!-- / 目次 モジュール -->
<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6">
<h2> 広告戦略 </h2>
<div class="card"><div class="card-body">
<h3> その商品をおもいだすフレーズ </h3>
<p><a href="https://catchcopy.make1.jp/" target="_blank" rel="noopener">キャッチコピー 集めました。</a></p>
<p> いろんなキャッチコピーをいきていたなかでみたり聞いたりしたことがあるとおもいます。みんなが思い出すキャッチコピーや標語、フレーズってなに？</p>
<h3>作文を求められるとき</h3>
<p>あなたがマークアップエンジニアだけでなく、ただ単に言われた作業をもくもくとこなせば手数料や給料が入る仕事でなかった場合、またはチームと一緒に決めごとをしなければならないとき。見出しやラベル(いわゆるコピー)をかんがえないといけないでしょう。</p>
<p>とくに個人で何かをしたいとか PVを稼ぎたいなどを考えている場合見出の書き方で大きく結果がかわることがいわれています。(しらんけど)</p>

<h3>キーワードとその表記にはきをつけましょう。</h3>
<p>webページには表示するテキストが必要で伝えるべき内容のなかに必ず抑えておくべきキーワードがあるとおもいます。SEOにも関連しますが話題の中心となるキーワードの表記がぼやけたり、統一性をもうけたほうがいいでしょう。</p>
<h4>表記の話</h4>
<p>たとえばYouTuber全般の話の場合「youtuber」 「ユーチューバー」とどちらかで表記を統一し、2つの表記が混在しないようにする。</br>
<h4>作文中での話題の焦点の話</h4>
<p>youtuberで例えますが、似たような言葉で「ライバー」や「バーチャルユーチューバー」など詳細な役割や配信のスタイルの違いから呼称分けするのですが、きちんとその意味にあった話題でその言葉を使い分けるなどして、話題の焦点をぼかさないようにすべきです。</p><p>内容の信頼性であったり独自性を保持できます。</p>
</div>
</div></div>


<div id="s2" class="mt-n6 pt-6 mb-6">
<h2>キャッチコピーと著作権</h2>
<div class="card mb-6">
<div class="card-body">
<h3>創造性</h3>
<p> <a href="https://webtan.impress.co.jp/e/2019/03/13/31768" target="_blank" rel="noopener">有名なキャッチコピー・キャッチフレーズには「著作権」がないから、勝手に使っていいの？</a></a><br>
</p>
<p>著作権でとくに短い文章には創造性があるかどうかを判断する材料がすくなく。<br>
後だしで真似をされても、「だれでも思いつくも」ので片付けられることがおおいです。</p>

<p>「キャッチフレーズを転用されたくなければ、商標登録などをしておくとよいのでは」</p>
</div>
</div>
</div>


<div id="s3" class="mt-n6 pt-6 mb-6">
<h2>キャッチコピーを決める。</h2>
<div class="card mb-6">
<div class="card-body">
<p>商品開発やマーケティング業務、広告代理店などでの経験のないわたしにとって売れる「キャッチコピー」を作れるヒントなどもちあわせておりません。</p>
<p><a href="https://liskul.com/cr_c_copy18t-6027">誰でも上手いキャッチコピーが作れる！ノウハウ記事17選とテクニック集</a></p>
<p>キャッチコピーはルールはないです。 禁止事項や縛りはないです。</p>
<p>一貫して伝えれることは<strong>ターゲットの洗い出しをしっかりする</strong>こと。<br>
  ターゲットのを絞り込むことでその人に刺さる言葉を見つけ出せるないですかね？</p>
</div>
</div>
</div>
<!-- editable area end ########             -->
</article>
</div>
<!-- /container-->
<!-- / w-aside2 --->
