---
title: サーバーの知識
discription: サーバークライアント型のネットワークについて
cat: web総合概論
next-page-url: "195_outline_media.html"
filename: 19_outline_media.html
prev-page-url: "193_outline_media.html"
titlename: "{{title.titlename}}"
text: "{{item.text}}"
text2: "{{item.text}}"
---
<div class="container mb-5">
<article id="w-article">
<!-- editable area ########             -->
        <h1>{{title}} - {{cat}}</h1>
        <p><span>category:</span> <span class="badge badge-primary">{{cat}}</span></p>
        <hr>
<!-- 序章 モジュール -->
<div class=" mb-4 alert alert-info">
<div class="card-body">
 <p>コンピューターネットワークにおけるサーバークライアント型ネットワークについて</p>
<p class="card-text">コンピューターとコンピューターをつなぎデータの送信と受信の機能を付加し通信できるようにした状態をコンピューター通信といいます。
</p>
<p>コンピューター通信におけるコンピューターネットワーク（ネット）の種類と抑えておくべき用語を確認しましょう。</p>
</div>
</div>



<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul id="w-indexlistBox">
    <li v-for="item in items" class="w-indexlistBox-list">
      <a v-bind:href="item.id" data-scroll >{{text2}}</a>
    </li>
</ul>
</div>
<!-- / 目次 モジュール -->
<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6">

<h2> コンピューター通信 </h2>
<div class="card">
<h3 class="card-header"> ネットワークの規模 </h3>
<div class="card-body">
<p>LAN は ローカルネットワーク 対して WANはワイドエリアネットウェアーク</p>
<p> イントラネット ・・・ 企業や団体など分散した組織の中だけで使うコンピューターネットワーク</p>
<h3>インターネット</h3>
<p> ネットワーク同士がつながった大きなネットワークで地球規模で通信できます。</p>
<div><img src="_images/_OL/network_640.jpg" alt="インターネット"></div>
</div>
</div>
</div>

<div id="s2" class="mt-n6 pt-6 mb-6">
<h2>ネットワークの種類</h2>
<div class="card mb-6">
<div class="card-body">
<h3>ピア トゥ ピア　（P2P）</h3>

<dl class="alert alert-secondary">
<dt>peer</dt>
<dd> <p>(年齢・地位・能力などが)同等の者; 同僚，同輩，仲間.の意</p></dd>
</dl>

<p>特定のサーバーやクライアントをもたないコンピューターネットワークの環境や方式の名前、<br>
不特定多数のコンピューターが、サーバーを介さずに直接データのやり取りをする方式やソフトウエアのこと。
<br>ピアツーピアネットワーク。P2P。PtoPなどの表記がある。</p>
<div class=" text-center" ><img src="_images/_OL/computer_p2p.png" alt="ピア トゥ ピア" class="w-75"></div>
<p> 各々のPCがデータのやり取りを同時に実行して全てのPCがノードとして平等に機能します。<br>
一般的に社内や家庭でルーター経由でフォルダーを共有することができます、<br>
管理することが簡単ですがノードが増えることによる負荷を管理できないことが多くタスクが一か所に集中するとネットワークが機能しない場合があります。</p>
</div>
</div>
<div class="card mb-6"><div class="card-body">
<h3>サーバー クライアント型ネットワーク</h3>

<div class="text-center"><img src="_images/_OL/computer_server_based.png" alt="サーバークライアント型ネットワーク" class="w-75"></div>
<p>情報を保管しリクエストに応じて情報を送信する。情報閲覧専用の役割をもっているPCをサーバー（コンピューター）とよび</p>
<p>クライアント側はサーバー側に データー閲覧を依頼する(ブラウザーやUA)ローカルサイドのPCやスマートフォン端末のことをいいます。</p>
</ul>
</div>
</div>
</div>


<div id="s2" class="mt-n6 pt-6 mb-6">
<h2>TCP/IP</h2>
<div class="card">
<div class="card-body">
<p>インターネットの情報（データ）のやりとりの標準化について説明します。</p>
<h3> TCP/IP </h3>
<p>TCP（Transmission Control Protocol）とIP（Internet Protocol）が中心となって通信を確立するための仕組みや構造の名前です。<br>TCP/IPは通信プロトコルの集合体でTCPとIPだけでなくインターネット通信システムの考え方や規則の総称です。<br>
ネットワークエンジニアはさらに細かな構造を定義したOSI参照モデルで通信ネットワークの学習をおすすめします</p>

<dl class="alert alert-secondary">
<dt>プロトコル(Protocol)とは</dt>
<dd>
<ul>
  <li>元の語源 - (外交上の)儀礼、典礼、条約原案、議定書、プロトコル、(国家間の)協定、(実験・治療の)実施要綱</li>
  <li>ネットワークの業界 - 通信プロトコルのことでは通信上の規約や手順 お約束事です。</li>
</ul>
</dd>
</dl>
<dl class="alert alert-secondary">
<dt>TCP</dt>
<dd>
<p>確実に情報を取得することを目的に規定されたプロトコルでトランスポート層でのプロトコルです。パケットに区分けされたデータを送受信それぞれのIPアドレスを確認しデータの送受信完了まで繰り返し通信する。情報の破損があっても確実に情報を送受信する目的の規格です。蛇足ですがTCPとは別に速度重視のUDPと呼ばれる方式もあります。</p>
</dd>
</dl>
<dl class="alert alert-secondary">
<dt>IPアドレスとは</dt>
<dd>
<p>ロケーションをユニーク化することで端末を間違えなく送信することができます。電話番号のような番号で端末のロケーションを判別しています。ロケーションの判別を<strong>IPアドレス</strong>と呼びます。</p>
<p><a href="https://www.expressvpn.com/jp/what-is-my-ip" target="_blank" rel="noopner">[私のIPアドレスロケーションは？]</a></p>
<p><a href="https://ja.wikipedia.org/wiki/%E3%82%A4%E3%83%B3%E3%82%BF%E3%83%BC%E3%83%8D%E3%83%83%E3%83%88%E3%83%BB%E3%83%97%E3%83%AD%E3%83%88%E3%82%B3%E3%83%AB%E3%83%BB%E3%82%B9%E3%82%A4%E3%83%BC%E3%83%88" target="_blank" rel="noopner">[インターネット・プロトコル・スイート]</a></p>
</dd>
</dl>
<div>
<h4>インフラには標準化が必要。</h4>
<p>
標準化とは 機能や用途 仕様の統一化 一般化 （不足過剰をなくすこと）規格化することです</p>
<p>現在でも標準的に利用されている通信規則です。<br>
TCP/IPは機器やOSが異なっても共通のプロトコルを用いて通信を成立させるものです。<<br>
通信する情報の内容で様々なプロトコルがつかわれています。</p>

<p>TCPとは通信プロトコルのひとつで簡単に説明すると「送ったデータが相手に届いたか、その都度確認しながら通信するやり方」や「正確な信号を送信する通信の規格を定めたもの」と言えます。エラーが起きてもクライアント側は繰り返しサーバにリクエストを送信し、サーバ側は正常に受け取って確実にレスポンスを返します。この一連の流れをセッションと呼びHTTP(webで使う通信プロトコル)ではリクエストとレスポンスで完結されます</p>
<p>IPとはIPアドレスと呼ばれる数値を付与しその数字を用いて通信先の指定及び呼び出しを行いネットワーク通信を行うことです。IPアドレスにはIPv4とIPv6が存在し記述の仕方が異なります。</p>


<h3> TCP/IPプロトコル通信のネットワークアーキテクチャ</h3>

<dl  class="alert alert-secondary">
<dt> アーキテクチャとは、</dt>
<dd>
<ul>
<li> 建築（物）、建築術、建築様式、構造、構成などの意味を持つ英単語。</li>
<li>コンピュータやソフトウェア、システム、あるいはそれらの構成要素などにおける、基本設計や共通仕様、設計思想などを指すことが多い。</li>
</ul>
</dd>
</dl>

<p>TCP/IPは4層に分かれた通信方法を定義しています。</p>
<ul>
<li> 1層のネットワークインターフェイス層は主にLANなどハードウエアで用いられる規定</li>
<li> 2層のインターネット層はIPアドレスを用いたインターネット上での規定</li>
<li> 3層のトランスポート層はTCPとUDPで通信の品質が変わります。受信送信の品質の規定</li>
<li> 4層のアプリケーション層ではメールやWebページ閲覧など利用するアプリケーションによって通信方法は変わり多数存在します。</li>
</ul>

<table class="table">
<thead class="table-warning">
<tr>
<th>層</th><th>名称</th><th>規格（プロトコル）</th><th>主な利用例</th>
</tr>
</thead>
<tbody>
<tr class="table-primary">
<th>4層</th><td>アプリケーション層</td><td><strong>HTTP,HTTPS</strong>,SMTP,POP3,IMAP4,DHCP,<strong>DNS</strong>など</td><td>Webサイト閲覧、メール、ファイル転送など</td>
</tr>
<tr class="alert alert-success" >
<th>3層</th><td>トランスポート層</td><td><strong>TCP</strong>,UDP,NetWare/IPなど</td><td>TCP/UDP（データを適切なアプリケーションへ振り分け）</td>
</tr>
<tr class="alert alert-info">
<th>2層</th><td>インターネット層</td><td><strong>IP</strong>,ARP,RARP,ICMPなど</td><td>ルーティング、エンドツーエンド通信</td>
</tr>
<tr class="table-dark text-body">
<th>1層</th><td>ネットワーク ・ インターフェイス層</td><td>Ethernet デバイス ドライバ NIC</td><td>LAN 物理的なケーブルなどの通信方法</td>
</tr>
</tbody>
</table>
<h4> アプリケーション層（4層）</h4>
<p>各アプリケーションで使うデータフォーマットと通信の準備をする。</p>
```
<blockquote>
<p>アプリケーション層はアプリケーションで扱うデータのフォーマットや手順を決める役割を担います。アプリケーションは基本的には人間が扱うため、文字や画像など人間が認識できるようにデータを表現します。主なプロトコルは「HTTP」「SMTP」「POP3」「IMAP4」「DHCP」「DNS」などです。HTTPはWebブラウザで利用し、SMTP、POP3は電子メールソフトで利用します。DHCP、DNSはアプリケーション通信を行うための準備のプロトコルとして補うことを担います。</p>
</blockquote>



<h4> トランスポート層（3層）</h4>

<p>データを適切なアプリケーションに振り分けることです。<br>
パケット（転送データの単位）と呼ばれる単位に分割されてデータをやり取りしています。
リクエスト(依頼)からレスポンス(返信)されるデータが正しく完了しているかまた破損がないか確認して完了するまでリクエストとレスポンスをつづけます。</p>

<blockquote>
<p>私達はパソコンやスマートフォンでネットワークを介した複数のアプリケーションを使っていますが、その裏ではトランスポート層が活躍しています。トランスポート層の役割は、データを適切なアプリケーションに振り分けることです。最下層からトランスポート層まで正しく機能すると、送信元と宛先のアプリケーション間でデータの送受信ができるようになります。主なプロトコルはTCPとUDPに分けられます。TCPは送信中にデータが破損してしまったり損失してしまっても、これらを検出してデータの再送を行い確実に通信をしてくれます。例を上げるとWebサイトのWebページを閲覧したりメールの送受信を行うなどインターネットで実行する通信方法の殆どがTCPを利用しています。UDPは身近な機能を用いて相手にデータを送信する方法です。正確性は無いのですが、素早くデータを送信する際に適した方法です。例を上げると、Web会議や動画サイトの映像と音声の通信方法で、リアルタイムに通信をする方法です。従ってデータ通信にエラーが生じた際は、繰り返し再生するのではなく、映像の乱れや音声が途切れたりすることが生じ、リアルタイムに映像と音声が流れる仕組みです。</p>
</blockquote>
<h4> インターネット層（2層）</h4>

<p>接続されているコンピュータや機器にアドレス(IPアドレス)を付加しルターでデータ転送する。
ネットワークとネットワークの情報の受け渡しの約束事</p>

<p> IPアドレス ネットワーク端末に付加される番号</p>
<p>ルーターは送信　受信において道順を指示する。</p>

<blockquote>
<p>インターネット層は複数のネットワーク間のデータ転送を行う役割を持っています。ネットワークは1つのネットワークにあらゆる機器が接続されているわけではなく、たくさんのネットワークが存在し、そこに色々な機器を接続していることで実現しています。多数のネットワーク同士を接続してデータ転送を行っているのは「ルータ」です。ルータによるネットワーク間のデータ転送を指して「ルーティング」と呼びます。また、ネットワーク間のデータ転送を指して「エンドツーエンド通信」と呼びます。具体的なプロトコルは「IP」「ICMP」「ARP」などで主に「IP」を用い、ICMPはエラーレポートや診断機能で、ARPはIPアドレスからMACアドレスを求める為などの補佐的なプロトコルです。</p>
</blockquote>

<h4> ネットワークインターフェイス層（1層）</h4>

<p>ネットワークに接続する基盤やケーブル,ハブなどの機器を含めたところ。</p>
<blockquote>
<p>
ネットワークインターフェイス層の役割は、同一のネットワーク内でデータを転送することです。技術的な観点から言えば、1つのネットワークは、ルータやレイヤ3スイッチで区切られる範囲、またはレイヤ2スイッチで構成する範囲です。例えばパソコンからレイヤー2スイッチにデータ転送を行ったり、サーバからハブやルータにデータ転送を行う際は「0」「1」の「2進法」で実行します。このデジタルデータを電気信号などの物理的な信号に変換して、伝送媒体で伝えていきます。具体的なプロトコルは、有線の「Ethernet（イーサーネット）」や無線LAN（Wi-Fi）、PPPなどが挙げられます。すべて統一する必要はなく例えば、有線のイーサネットと無線LANのWi-Fiを組み合わせたローカルネットワーク構築も可能です。</p>
</blockquote>


<hr>

<h4>TCP/IPアプリケーション層プロトコルのDNS</h4>

<blockquote>
<p>
DNS(Domen Name Service)とは、ユーザがURLなどのアプリケーションのアドレスを指定すると、ホスト名に対応するIPアドレスを自動的に求める役割をすることです。ホスト名からIPアドレスを求めることを「名前解決」と呼び、DNSは最もよく利用されている名前解決の方法です。DNSはレジストリ・レジストラと呼ばれる世界的にドメインとIPアドレスを管理している組織によって運用されています。例えば、自身のホームページ（ブログなど）を開設し公開をした場合は、ドメインを取得しIPアドレスと紐付いた書面を見たことがあると思います。ドメインを取得する際は申し込んだときにサービス提供側で全て設定をしてもらえるので、利用者からは確認をするだけで、ドメインを利用したURLを利用することができます。IPアドレスによるDNSの名前解決はルートドメインから階層を辿って問い合わせを行い、ホームページなどを表示させ、繰り返し問い合わせを行います。このことを「回帰問い合わせ」と呼んでいますが、毎回ルートドメインから問い合わせを行うことは、通信に時間がかかってしまうため効率がよくありません。そこで、「DNSサーバ」や「DNSリゾルバ（アプリケーションを利用するユーザやホスト名を指定すると、自動的にDNSに対応するIPアドレスを問い合わせること）」は問い合わせた情報をしばらくの間キャッシュに保存します。どのくらいの期間キャッシュに保存するかは設定次第ですが、過去の問い合わせ結果のキャッシュが残っていれば、ルートから辿らずに名前解決が出来ます。
</p>
</blockquote>



<div>
出典/参考
<blockquote class="blockquote">
<ul>
<li><a href="https://www.itmanage.co.jp/column/tcp-ip-protocol/" target="_blank"> [TCP/IPとは？通信プロトコルの階層モデルを図解で解説](https://www.itmanage.co.jp/column/tcp-ip-protocol/)</a></li>
<li> <a href="https://wa3.i-3-i.info/word11.html" target="_blank">[プロトコル](https://wa3.i-3-i.info/word11.html)</a></li>

<li><a href="http://www.hct.ecl.ntt.co.jp/floorguide/tech_j.html" target="_blank" rel="noopner">[インターネットの技術 | フロアガイド | NTT技術史料館]</a></li>

</ul>
</blockquote>
</div>

</div>
</div>
</div>
<div class="card mb-6">
<div class="card-body">
<h3>IPアドレス</h3>

<blockguote>
  <p><a href="https://yu8mada.com/2018/07/14/how-to-find-my-private-ip-address-in-macos/" target="_blank" rel="noopner">[macOS で自分のプライベート IP アドレスを見つける方法]</a></p>
</blockguote>

<h4>IPv4</h4>
<p>従来のインターネットの端末場所を判別する番号</P>
<p>例) IPv4 : 172 16 5 151</p>
<p>0 - 255 まで４つの数字の羅列で識別します。</p>
<p>基本的なインターネット上のやり取りでこのIPv4形式がつかわれる。</p>
<p>番号で地域などやネットワーク接続会社などがわかる。</p>
<div>
<h5>IPアドレスからプロバイダーを調べることができます。</h5>
<p>
  <a href="http://www.ipsearch.jp/ip/25.html#.X4RGDWjN0uW" rel="noopener" target="_blank">IPアドレスからプロバイダーを検索
  </a>
</div>
<h4>IPv6</h4>
<p>インターネット枯渇問題とネットワーク機器の多様化<br>
IPv4ではインターネット接続機器の増加に追いつかず番号の枯渇問題が過去ありました。<br>
多くの機器をインターネットでつなぐためIPv6が規格されました。ユニークな番号は<span>340*10<sup>36</sup></sup>(340澗)個あります。</p>
<p>例として</p>
<pre>
IPv6 : fe80::1031:f572:3eb0:f67e
</pre>
<h4>ローカルIP/グローバルIP</h4>
<p>IPアドレスが足らないので各々のネットワーク会社<br>
おもにプロバイダーは利用者にはローカルIPでやり取りする。</p>
<h4>サブネットマスク</h4>
<p>ローカルIP アドレスの範囲 ローカルで接続できる端末（ノード）の数がわかる</p>
</div>
<div class="card mb-6">
<div class="card-body">
<h3>インターネット（接続会社）</h3>
<p>インターネットプロバイダー（Internet Service Provider）</p>
<p>インターネットに接続するサービス。（固有のIPアドレスを所有しておりたんまつに接続する権利を与えるサービス。）<br>
 ここまではグローバルIPで識別されています。</p>
<p> ローカルIPはIPアドレスの枯渇問題を解決するために 局所で使われるノードには局所で使うローカル番号を与えて端末識別をおこなっています。</p>
<p> ルーター機器はルーティング（道案内）をするための機器です。</p>
<div class="text-center mb-3">
  <img src="_images/_OL/ipaddress.png" alt="LANの図" class="img-fluid">
</div>
<ol class="d-flex list-unstyled" style="font-size:12px;">
<li class="col-3 text-center">
  <figure>
  <i class="fa fa-globe" aria-hidden="true" style="font-size:24px;"></i>
  <figcaption>プロバイダー</figcaption>
  </figure>
  インターネットに接続します。
  </li>
<li class="col-3 text-center">
  <figure>
  <i class="fa fa-road" aria-hidden="true" style="font-size:24px;"></i>
  <figcaption>「ゲートウェイルーター」</figcaption>
  </figure>
  自宅とインターネットをつなぐ機器「門」の役割をします。ルーターは複数のインターネット機器に番号を振りローカルネットワークを形成してくれます。
インターネット接続会社や回線会社から契約すると配られます。Wi-Fiがついていることがあります。
</li>
</li>
<li class="col-3 text-center">
  <figure>
  <i class="fa fa-sitemap" aria-hidden="true" style="font-size:24px;"></i>
  <figcaption>「ハブ（スイッチングハブ）」</figcaption>
  </figure>
   PCやスマフォの端末に情報を分配する、LANを構築するなら必要です、スイッチング機能があるルーターは端末を狙って情報を送受信します。
 </li>
  <li class="col-3 text-center">
  <figure>
  <i class="fa fa-desktop" aria-hidden="true" style="font-size:24px;"></i>
  <figcaption>「ネットワークカードとPCなど」</figcaption>
  </figure>ネットワークに接続を確認したり情報を送受信する機器で端末には標準でついている。（オンボード）<br>例えば無線ランを拾えないかったり、特殊な回線やデータ送受信量を強化したいときは
  別でデバイスを買うこともある</li>
</ol>
</div>
</div>

</div>

<div class="card mb-6">
<div class="card-body">
<h3>ドメイン</h3>

<p>日本のドメイン管理法人　日本ネットワークインフォメーションセンター</p>
<p><a href="https://www.nic.ad.jp/ja/dom/types.html" target="_blank" rel="noopener">ドメイン名の種類 - JPNIC </a></p>
<p><a href="https://www.nic.ad.jp/ja/dom/system.html" target="_blank" rel="noopener">ドメイン名のしくみ</a></p>
<h4>ドメインの役割</h4>

<p>IPアドレスは機器の番号でありますが　webページやサイトのオーナーは同じ端末に共存することはあります。IPアドレスという数字での表記は人にとって使いづらい。</p>
<p>現在では運営会社の明確化やブランドイメージの固定化を目的に取得する意味合いの方が強い</p>



<p class="col-10"><img src="_images/_OL/ServerRep.png" class="img-fiuid" alt="サーバーを移転してIPアドレスが変わってもサイトのドメインオーナーはドメイン名を変更しなくて済む・">
</p>
<p>サーバーを移転してIPアドレスが変わってもサイトのドメインオーナーはドメイン名を変更しなくて済む</p>

<div>
<h4>googleのドメイン</h4>
<p><pre>https://google.com</pre></p>
</div>
<p><a href="https://xn--u8j7eobcu7j2kyg7f.jp/special/registrar/index.html" target="_blank" rel="noopner">ドメインはだれが決めているの</a></p>
<p>ドメインの取得は管理料を払い続ければ抑えることができる。<br>
逆に管理料が払えなければ失効する。</p>
<h3>サブドメイン</h3>
<p>独自ドメインがない場合 レンタルサーバーのドメインの直下に個別の名前を入れて運用する。</p>
<h3> ドメイン取得会社 </h3>
<ul>
  <li> <a href="https://www.onamae.com/" target="_blank" rel="noopner">お名前.com </a></li>
  <li> <a href="https://muumuu-domain.com/" target="_blank" rel="noopner">ムームードメイン </a></li>
</ul>
</div>
</div>
</div>
<div id="s3" class="mt-n6 pt-6 mb-6">
<h2>サーバーの役割</h2>
<div class="card mb-6">
<div class="card-body">
<h3>WebサイトとWebサーバー</h3>
<p>OS：Unix/Linax OS が多い 一部windowsサーバー
ネットワークサーバーようの筐体であることがおおい。<br>
インターネットサーバープログラム ：  Apache</p>

<h3>データベースサーバー</h3>
<p>データの保管庫</p>

<h3>ドメインネームサーバー</h3>
<p>ドメイン名とサーバーを記録してユーザーが閲覧したいページを提供する交通整理をするサーバー　ここにドメイン名が登録されていないとクライアントにページが送信されない。
レンタルサーバーが取り扱っているWebページにドメイン名を登録することでWebページを送信してくれる。<br>
<small>（レンタルサーバーを引っ越しするときに必要な知識）</small></p>
<blockquote>
<p><a href="https://www.geolocation.co.jp/learn/dns/22.html"target="_blank" rel="noopner">DNS（Domain Name System）とは</a></p>
</blockquote>




<h3>FTPサーバー</h3>
<p>FTP機能（ファイルトランスファープロトコル）
製作者がファイルをサーバーにアップロードしたり消したりするときに便利なソフトです。おもにwebサイト製作者に必要です。</p>

<h3>SSHサーバー</h3>
<p>FTP転送をセキュア化（暗号化）する。<br>
<a href="https://www.kagoya.jp/howto/rentalserver/ssh/" target="_blank" rel="noopner">[SSH]</a>
</p>

<h3>サーバーを借りる</h3>
<p>自宅にサーバー用のPCと回線を引いて自宅から世界に情報を提供することもできますが・（リアルプライベートサーバー）<br>
ほとんどの場合はレンタルサーバーサービスにスペースを借りてサーバーに付属する機能を利用してwebページを配信するのがローコストな手法です。 </p>
<h4>VPS (バーチャルプライぺートサーバー)</h4>
<p>ハード面を利用しソフトは全て自己責任で設定するサーバー</p>
</div>
</div>
</div>
<!-- editable area end ########             -->
</article>
</div>
<!-- /container-->
<!-- / w-aside2 --->
