---
title: 文字コード
discription: discription
cat: HTML
next-page-url: "201_html_markUp.html"
filename: 29_html_markUp.html
prev-page-url: "28_html_markUp.html"
titlename: "{{title.titlename}}"
text: "{{item.text}}"
text2: "{{item.text}}"
---
<div class="container mb-5">
<article id="w-article">
<!-- editable area ########             -->
        <h1>{{title}} - {{cat}}</h1>
        <p><span>category:</span> <span class="badge badge-primary">{{cat}}</span></p>
        <hr>

<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body">
<p  class="card-text">文字コードとは機械が判別できる記号に文字を変換してインターネット上でやりとりするための技術です。</p>
<p>日本語は多くの種類の文字をつかった複雑も言語です。インターネットの通信回線が遅く転送量にも制限がかかっていたころは、日本語専用の文字の記号をつかって文字を表記していました。その種類は複数ありインターネット上でもあまり統一されていませんでした。
ブラウザではこの記号も文字をエンコード（翻訳）して日本語を表示します。</p>
</div>
</div>
<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul id="w-indexlistBox">
    <li v-for="item in items" class="w-indexlistBox-list">
      <a v-bind:href="item.id" data-scroll >{{text2}}</a>
    </li>
</ul>
</div>

<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6 clearfix">

<h2>実際インターネットで使う文字コード</h2>
<p>昨今の文字コードはユニコードの「<b class="badge badge-primary font-size-1">UTF-8</b>」です。
    CSSもHTMLもJavascriptも文字コードは「UTF-8」で書くように指導されています。</p>
    <h3>文字コードを指定しないとどうなるの？</h3>
    <p>HTMLコードの文字コード宣言がないと任意のコードでエンコードをUA（ユーザーエージェント）はしはじめます。
    主要なブラウザは自動判別プログラムがはいっていますが古いブラウザやそのような機能がないインターネットを使ったアプリケーションは多々よのなかには合うれています。</p>
    <p>エンコードと文字コードがあっていなかった場合、<strong>文字化け</strong>がおきまます。</p>
    <h4 id="html">HTML</h4>
    <p>メタタグで指定</p>
      <pre class="line-numbers language-xml" data-src="prism.js"><code>&lt;meta charset=&quot;utf-8&quot;&gt;</code></pre>
    <h4 id="css">CSS</h4>
    <p>スタイルシートの一行目に空白を開けずに宣言</p>
      <pre class="line-numbers language-xml" data-src="prism.js"><code>@charset &quot;UTF-8&quot;;</code></pre>
    <h3>昔の文字コード</h3>
    <p>昔といっても10年もたってないとはおもいますが。
    スマートフォンが現れるまえは文字コードも軽くデータ量の少ない単バイト文字がつかわれていました。</p>
    <p>バイト文字</p>
    <ul>
    <li>windows10 未だにデフォルトは[shift-jis]</li>
    <li>Linax Unix [EUC_jp]</li>
    <li>MAC ??? (i dont know!)</li>
    </ul>
    <p>２バイト文字「UTF-8」は多くの世界中の文字を表示で表記できる。</p>
    <p><a href="https://www.marbacka.net/msearch/tool.php#str2enc">Unicode文字ツール</a></p>
    <h4>UTF-8 バイトオーダーマークのありなし</h4>
    <p><a href="https://ja.wikipedia.org/wiki/%E3%83%90%E3%82%A4%E3%83%88%E3%82%AA%E3%83%BC%E3%83%80%E3%83%BC%E3%83%9E%E3%83%BC%E3%82%AF">バイトオーダーマーク</a>
    基本なし　よってテキストエディタでは「UTF-8N」
    にセットすることが多いです。
    （ローカルPCで文字化けとかないのできにならない）
    <a href="https://uxmilk.jp/48923">UTF-8のBOM付き・BOM無しの違いと確認方法</a></p>
    <h3>テキストエディタで気をつけること</h3>
    <ul>
    <li>
    <p>「UTF-8」で新規起案する。（BOMなし）</p>
    </li>
    <li>
    <p>既存ファイル読み込みは文字コード「自動判別」にしておく。（オリジナルの文字コードをつぶさないようにする。）</p>
    </li>
    <li>
    <p>文字コードを変換して上書きしてくれるエディタを一つは持っておく。「TeraPad」など。</p>
    </li>
    </ul>
    <div class="p-4 alert-info">
    <h5>ポイント</h5>
    <ul>
    <li>文字コードは必ず正しく宣言しておく。</li>
    <li>宣言文字コードと実際記述する文字コードは同じにする。</li>
    <li>プロジェクトによって使う文字コードは違うが**「utf-8」**を使うのが主流です。</li>
    </ul>
    </div>
    <hr>
  </div>
  <div id="s2" class="mt-n6 pt-6 mb-6 clearfix">
    <h2>改行コード</h2>
    <p>改行コードは改行を入れたときに入る制御文字です。
    <a href="https://ja.wikipedia.org/wiki/%E6%94%B9%E8%A1%8C%E3%82%B3%E3%83%BC%E3%83%89">改行コード</a></p>
    <ul>
    <li>LF  UNIXやUnix系のシステム</li>
    <li>CR/LF windows</li>
    <li>CR  OS9</li>
    </ul>
    <p>CR (キャリッジリターン) ： 改行（日本語訳）
    LF (ラインフィード) ：改行（日本語訳）</p>
    <h3>改行コードはどれをえらべばいいの？</h3>
    <p>「LF」 または  「CR/LF」
    の２択になるのですがサーバーに上げるのならサーバーがUnix系のシステムなので<strong>LF</strong>が安全です。<br>
    間違っても改行が多いコードになるぐらいしか不具合をみたことがありません。<br>
    windowsを普段お使いのかたもWebアプリケーションを個人的に作る場合はCR/LFは避けてLFで統一して書くようにしましょう。</p>
  <div class="p-4 alert-info">
  <h6>ポイント</h6>
    <p class="badge badge-info font-size-1">[LF]ラインフィードでお願いします。</p>
  </div>
</div>
<!-- editable area end ########             -->
</article>
</div>
<!-- /container-->

<!-- / w-aside2 --->
