---
title: CSS font ファミリー
discription: discription
cat: CSS
next-page-url: "43_css_code.html"
filename: 42_css_code.html
prev-page-url: "401_css_code.html"
titlename: "{{title.titlename}}"
text: "{{item.text}}"
text2: "{{item.text}}"
---
<div class="container mb-5">
<article id="w-article">
<!-- editable area ########             -->
        <h1>{{title}} - {{cat}}</h1>
        <p><span>category:</span> <span class="badge badge-primary">{{cat}}</span></p>
        <hr>
<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body clearfix">
<p class="card-text">font系プロパティは文字の見た目を制御するプロパティです。</p>
<p>font系プロパティのほとんどは祖先要素より子孫要素に継承します(一部のインタラクティブ要素は除く)。そのためある要素に設定されたプロパティはその子孫に上書するプロパティがかかれない限り祖先で設定されたプロパティを継承します。</p>
</div>
</div>

<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul id="w-indexlistBox">
    <li v-for="item in items" class="w-indexlistBox-list">
      <a v-bind:href="item.id" data-scroll >{{text2}}</a>
    </li>
</ul>
</div>
<!-- /目次 モジュール -->

<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6 clearfix">
<h2>font-family</h2>

<p>font-familyは書体を指定するプロパティです。</p>
<p>複数の値をコンマで区切って、代替フォントを示します。ブラウザーはリストの中で最初のインストール済み、または @font-face @-規則を使用してダウンロード可能なフォントを選択します。</p>

<p>注意点としてはクライアントのシステムにあるフォントしかユーザー設定できません。しかしサイトの表示に時間がかかるリスクは少ないです。</p>

<p>一括指定プロパティの font を使用すると、 font-size やその他のフォント関連プロパティを一度に設定できるのでふつうは便利です。</p>
<p><strong>指定されたフォントが利用可能であるという保証はない</strong>ので、 font-family リストの中に、<strong>総称ファミリを少なくとも 1 つ、常に追加しておくべきです。</strong>総称ファミリを使うことで、必要ならば、ブラウザーで受け付け可能な代替フォントを選択させることができます。</p>

<div class="card mb-6">
    <div class="card-header">
        <h5>とりあえずゴシック系</h5>
    </div>
<div class="card-body">
<pre class="line-numbers language-css" data-src="prism.js"><code>
  html{
    font-family: sans-serif;
  }
</code></pre>
  </div>
</div><!--/ .card -->




<h3>値</h3>
<blockquote>
    <ul>
        <li>
<h4>&lt;family-name&gt;</h4><p>
フォントファミリの名称。例えば、 "Times" や "Helvetica" はフォントファミリです。空白を含むフォントファミリ名は、引用符で囲む必要があります。</p></li>
        <li><h4>&lt;generic-name&gt;</h4><p>
総称フォントファミリは代替メカニズムです。このメカニズムによって、指定されたフォントがどれも利用できなかった場合、スタイルシート製作者の意図を多少なりとも保つことができます。総称ファミリ名はキーワードであり、引用符で囲んではいけません。総称フォントファミリは、フォントファミリ名リストの最終選択肢である必要があります。以下のキーワードが定義されています。</p></li>
<li><h4>serif</h4><p>
終わりが止めや払い、または実際の活字のセリフの形をした角を持つ字形です。
例: Lucida Bright, Lucida Fax, Palatino, "Palatino Linotype", Palladio, "URW Palladio", serif</p>
<p>解像度の低いwebでは漢字の明朝体がつぶれますので　小さな文字の読み文字にはお勧めできません。 和風なデザインや格式など感じるイメージなので見出しなどに使うことがあります。</p>
</li>
<li><h4>sans-serif</h4><p>
平たい角の端を持つ字形です。
例: "Open Sans", "Fira Sans", "Lucida Sans", "Lucida Sans Unicode", "Trebuchet MS", "Liberation Sans", "Nimbus Sans L", sans-serif</p></li>
<p>解像度の低いwebではゴシックが定番です。webの読み文字 見出しともよくつかわれます。</p>
<li><h4>monospace</h4><p>
すべての字が同じ幅を持つ字形です。
例: "Fira Mono", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace</p>
<p>プログラム用のテキスト</p>
</li>
</ul>
<footer>
<p>引用：
<cite><a href="https://developer.mozilla.org/ja/docs/Web/CSS/font-family" target="_blank" rel="noopener">font-family
</a></cite></p></footer>
</blockquote>


<div class="card mb-6">
    <div class="card-header">
        <h4>よく見るフォントファミリー定番指定</h4>
    </div>
<div class="card-body">
<h5>システムフォントを駆使する方法</h5>
<p>MAC OSとwindowsの両方で指定できるゴシック系フォント</p>
<pre class="line-numbers language-css" data-src="prism.js"><code>
/*Yu Gothic*/
html{
   font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
</code></pre>
</div>
<p>MAC OSとwindowsでは同じアウトラインだが重さが違う。</p>
<p> Chrome の描画がやや薄く表現されるためillustratorの描画と差異がでるのでタイポグラフィーにこだわるサイトでは問題になる。</p>
</div><!--/ .card -->



<h3>webフォント</h3>
<p>CDNシステムをつかってサイトのデザインに合ったフォントを適応する技術</p>
<p>下記のリンクが有名なフォント提供サービス</p>
<ul>
  <li><a href="https://googlefonts.github.io/japanese/" target="_blank" rel="noopener">Google Fonts + 日本語</a></li>
  <li><a href="https://fonts.adobe.com/?locale=ja-JP" target="_blank" rel="noopener">Adobe Fonts のしくみ</a></li>
</ul>

<div class="card mb-6">
    <div class="card-header">
        <h4>webフォント</h4>
    </div>
<div class="card-body">
<h5>Webフォントを駆使する方法</h5>
<p>HTMLヘッダーにフォントデータを読み込む</p>
<pre class="line-numbers language-xml" data-src="prism.js"><code>&lt;link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet"&gt;
</code></pre>
<p>要素に設定する</p>
<pre class="line-numbers language-css" data-src="prism.js"><code>
/*noto Gothic*/
html{
  font-family: "Noto Sans JP", sans-serif;
}
</code></pre>
</div>
</div><!--/ .card -->

<p>書体はデザインの情緒感を表現する大切な要素です<br>しかし、現状は
  多くの会社が様々なデバイスを販売しそれぞれのデバイスでユーザーが閲覧している限りべてのデバイスで再現することは不可能に近いです。
</p>
<p>サイトのデザインの方向性に合わせた書体をえらびましょう。ブランドが重要なサイトなどはフォントを犠牲にできないでしょう。逆に公共性に高いサイトはどんなフォントが重要ではなく伝わるかどうかが大切です。</p>
<div class="card mb-6">
<h3>ローマ字と日本語フォント</h3>
<div class="card-body">
<h5>ローマ字を先日本語をあとに指定する。</h5>
<p>半角英字を日本語フォントにあるフォント以外にしていたい場合はローマ字フォントを先に指定する。</p>
<pre class="line-numbers language-css" data-src="prism.js"><code>
/*Yu Gothic*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html{
   font-family: "Open Sans" "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
</code></pre>
</div>
<p>ローマ字にOpen Sansが先にセットされ日本語の場合はフォントがないので游ゴシックが設定される。</p>
</div><!--/ .card -->
</div>



<!-- editable area end ########             -->
</article>
</div>
<!-- /container-->

<!-- / w-aside2 --->
