---
title: Font styleとweight プロパティ
discription: discription
cat: CSS
next-page-url: "45_css_code.html"
filename: 44_css_code.html
prev-page-url: "43_css_code.html"
titlename: "{{title.titlename}}"
text: "{{item.text}}"
text2: "{{item.text}}"
---
<div class="container mb-5">
<article id="w-article">
<!-- editable area ########             -->
        <h1>{{title}} - {{cat}}</h1>
        <p><span>category:</span> <span class="badge badge-primary">{{cat}}</span></p>
        <hr>

<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body clearfix">
<p class="card-text">文字の太さと斜体を設定する。</p>
</div>
</div>

<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul id="w-indexlistBox">
    <li v-for="item in items" class="w-indexlistBox-list">
      <a v-bind:href="item.id" data-scroll >{{text2}}</a>
    </li>
</ul>
</div>
<!-- /目次 モジュール -->

<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6 clearfix">

<h2>Font-style</h2>
<p>フォントが font-family の中で通常体 (normal)、筆記体 (italic)、斜体 (oblique) のどれでスタイル付けするかを設定します。</p>
<p>italic フォントフェイスは通常、本質的に筆記体であり、スタイル付けされていない書体より水平方向の幅が小さいのが一般的です。一方 oblique フェイスはたいてい、通常のフェイスを傾けただけです。 italic と oblique のいずれも、通常のフェイスのグリフを人工的に傾けることによってシミュレートされます (この制御については font-synthesis をご覧ください)。</p>
<h3>日本語の斜体文字</h3>
<p>
日本語の斜体文字は太字より暗喩的な意味統一や連想するものがなく、webでの表現でも小さすぎて判読しづらいのが現状で、つかわない傾向にあります。</p>
<p>HTMLタグでデフォルトで斜体で表現されているタグをnormalに戻すことぐらいでしか日本文字では使わない感じです。</p>



<h3>値</h3>
<blockquote>
<ul>
<li>
<h4>normal</h4><p>
font-family の中で normal に分類されているフォントを選択します。</p></li>
<li>
<h4>italic</h4><p>
italic として分類されているフォントを選択します。 italic フェイスが使用できない場合は、代わりに oblique に分類されているフォントを選択します。どちらも利用できない場合は、スタイルは人工的にシミュレートされます。</p></li>
<li><h4>oblique </h4><p>
oblique として分類されているフォントを選択します。 oblique フェイスが使用できない場合は、代わりに italic に分類されているフォントを選択します。どちらも利用できない場合は、スタイルは人工的にシミュレートされます。</p>
</li>
<li><h4>oblique 「angle」</h4><p>
oblique として分類されているフォントを選択し、加えてテキストの傾きの角度を指定します。選択されたフォントファミリで１つまたは複数の oblique フェイスが利用できる場合、指定した角度に最も近いものが選択されます。 oblique フェイスが利用できない場合、ブラウザーは通常のフェイスを指定した大きさだけ傾けることで、 oblique バージョンを作成します。有効な値は-90以上90以下の角度の値です。角度が指定されない場合、14度の角度が使用されます。正の数では行末に向けて傾け、負の数では行頭に向けて傾けます。

一般に、要求された角度が14度以上の場合、大きな角度が推奨されます。その他の場合は、より小さい角度が推奨されます (アルゴリズムの詳細は、仕様書の font matching section を参照してください)。
	</p>
	</li>
</ul>
<footer>
<p>引用：
<cite><a href="https://developer.mozilla.org/ja/docs/Web/CSS/font-style" target="_blank" rel="noopener">font-style</a></cite></p>
</footer>
</blockquote>

<div class="card">
<div class="card-header">
<h3>記述例</h3>
</div>
<div class="card-body">
<pre class="line-numbers language-css" data-src="prism.js"><code>
/* 斜体の設定*/
em{
    font-style: normal;
}
</code></pre>
</div>
</div><!--/ .card -->
</div>
<div id="s2" class="mt-n6 pt-6 mb-6 clearfix">

<h2>Font-weight</h2>
<p>CSS の font-weight プロパティは、フォントの重み (あるいは太さ) を指定します。実際に表示されるフォントの重みは使用している font-family に依存する場合があります。フォントによっては normal 及び bold のみで利用できます。</p>
<h3>値</h3>
<blockquote>
<ul>
<li>
<h4>normal</h4><p>
通常のフォントの重みです。 400 と同じです。</p></li>
<li>
<h4>bold</h4><p>
太字のフォントの重みです。 700 と同じです。</p></li>
<li><h4>lighter </h4><p>
フォントの重みを親要素よりも (フォントで利用可能な重みの中で) 一段階細く設定します。</p>
</li>
<li><h4>bolder</h4><p>
フォントの重みを親要素よりも (フォントで利用可能な重みの中で) 一段階太く設定します。
	</p>
	</li>
</ul>
<ul>
<li>100	Thin (Hairline)</li>
<li>200	Extra Light (Ultra Light)</li>
<li>300	Light</li>
<li>400	Normal</li>
<li>500	Medium</li>
<li>600	Semi Bold (Demi Bold)</li>
<li>700	Bold</li>
<li>800	Extra Bold (Ultra Bold)</li>
<li>900	Black (Heavy)</li>
</ul>
<footer>
<p>引用：
<cite><a href="https://developer.mozilla.org/ja/docs/Web/CSS/font-weight" target="_blank" rel="noopener">font-weight</a></cite></p>
</footer>
</blockquote>
<div class="card">
<div class="card-header">
<h3>記述例</h3>
</div>
<div class="card-body">
<pre class="line-numbers language-css" data-src="prism.js"><code>
/* 斜体の設定*/
em{
    font-style: normal;
    font-weight:bold;
}
</code></pre>
</div>
</div><!--/ .card -->
</div>

<!-- editable area end ########             -->
</article>
</div>
<!-- /container-->

<!-- / w-aside2 --->
