---
title: text-align プロパティ
discription: discription
cat: CSS
next-page-url: "47_css_code.html"
filename: 46_css_code.html
prev-page-url: "45_css_code.html"
titlename: "{{title.titlename}}"
text: "{{item.text}}"
text2: "{{item.text}}"
---
<div class="container mb-5">
<article id="w-article">
<!-- editable area ########             -->
        <h1>{{title}} - {{cat}}</h1>
        <p><span>category:</span> <span class="badge badge-primary">{{cat}}</span></p>
        <hr>

<!-- 序章 モジュール -->
<div class="card mb-4">
<div class="card-body clearfix">
<p class="card-text">段落の行頭ぞろえのプロパティです</p>
</div>
</div>
<!-- 目次 モジュール -->
<div class="bg-light p-3 mb-4">
<h2>目次</h2>
<ul id="w-indexlistBox">
    <li v-for="item in items" class="w-indexlistBox-list">
      <a v-bind:href="item.id" data-scroll >{{text2}}</a>
    </li>
</ul>
</div>
<!-- /目次 モジュール -->

<!-- 本文のセクション モジュール -->
<div id="s1" class="mt-n6 pt-6 mb-6 clearfix">

<h2>text-align</h2>
<p>CSS の text-align プロパティは、インラインまたは表セルボックスの水平方向の配置を設定します。つまり、 vertical-align のように、ただし水平方向に動作します。</p>
<p>ブロック要素のないのテキストの水平方向の配置そろえを制御します。
  <strong>このプロパティを持つブロック要素自体の位置はかわりません。</strong>
</p>

<h3>値</h3>
<blockquote>
    <ul>
        <li>
<h4>left</h4><p>
インラインコンテンツは行ボックスの左辺に寄せられます。</p>
<p>日本のブラウザでは規定値になります。</p>
</li>
<li><h4>right</h4><p>
インラインコンテンツは行ボックスの右辺に寄せられます。</p>
</li>
<li>
  <h4>center</h4>
  <p>インラインコンテンツは行ボックス内で中央寄せされます。</p>
</li>
<li>
<h4> justify</h4>
<p>インラインコンテンツは両端揃えされます。テキストは最終行を除いて、その左右の端が行ボックスの左右の端に揃うように語間が空けられます。</p>
</li>

<li>
<h4> justify</h4>
<p>インラインコンテンツは両端揃えされます。テキストは最終行を除いて、その左右の端が行ボックスの左右の端に揃うように語間が空けられます。</p>
</li>

<li>
<h4> justify-all(実験的)</h4>
<p>justify と同じですが、最終行も強制的に両端揃えされます。</p>
</li>

<li>
<h4> start(実験的)</h4>
<p>書字方向が左から右であれば left と、右から左であれば right と同じです。</p>
</li>
<li>
<h4> end(実験的)</h4>
<p> 書字方向が左から右であれば right と、右から左であれば left と同じです。。</p>
</li>

</ul>
<footer>
<p>引用：
<cite><p><a href="https://developer.mozilla.org/ja/docs/Web/CSS/text-align" target="_blank" rel="noopener">text-align</a></p></cite></p>
</footer>
</blockquote>

<div class="card">
<div class="card-header">
<h3>記述例</h3>
</div>
<div class="card-body">
<h3>例</h3>
<h4>css</h4>
<pre class="line-numbers language-css" data-src="prism.js"><code>
/* */
.green {
  border: solid limegreen;
}

.text-justify{
  text-aligin:justify;
}

h1 {
font-size: 30px;
text-aligin:center;
}

.box {
  width: 80%;
  display:block;
  vertical-align: top;
  font-size: 15px;
}

</code></pre>


<h4>HTML</h4>
<pre class="line-numbers language-xml" data-src="prism.js"><code>
&lt;div class="box green"&gt;
 &lt;h1&gt;徒然草&lt;/h1&gt;
 &lt;p&gt;
 「つれづれなるままに、日暮らし、硯にむかひて、心にうつりゆくよしなしごとを、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。」
&lt;/p&gt;
&lt;/div&gt;
&lt;div class="box green"&gt;
 &lt;p class="text-justify"&gt;
Il y avait encore des Prussiens en France. M. Delalot était un personnage. La légitimité venait de s'affirmer en coupant le poing, puis la tête, à Pleignier, à Carbonneau et à Tolleron. Le prince de Talleyrand, grand chambellan, et l'abbé Louis, ministre désigné des finances, se regardaient en riant du rire de deux augures; tous deux avaient célébré, le 14 juillet 1790, la messe de la Fédération au Champ de Mars; Talleyrand l'avait dite comme évêque, Louis l'avait servie comme diacre.
&lt;/p&gt;
&lt;/div&gt;
</code></pre>


<style>.green{
  line-height: 1.1;
  border: solid limegreen;
}
.red {
  line-height: 1.1em;
  border: solid red;
}
b.h {
  font-size: 30px;
  display: block;
  font-weight: 400;
}
.box {
  width: 80%;
  display: block;
  vertical-align: top;
  font-size: 15px;
  padding:1em;
  margin: 0 0 20px 0;
}</style>
<h4>プレビュー</h4>
<div class="box green">
 <h4 class="h text-center"> 徒然草</h4>
 <p class="text-left">
 「つれづれなるままに、日暮らし、硯にむかひて、心にうつりゆくよしなしごとを、そこはかとなく書きつくれば、あやしうこそものぐるほしけれ。」
 </p>
</div>
<h5>ジャスティフファイ</h5>
<div class="box text-justify green">
<p lang="fa">
  Il y avait encore des Prussiens en France. M. Delalot était un personnage. La légitimité venait de s'affirmer en coupant le poing, puis la tête, à Pleignier, à Carbonneau et à Tolleron. Le prince de Talleyrand, grand chambellan, et l'abbé Louis, ministre désigné des finances, se regardaient en riant du rire de deux augures; tous deux avaient célébré, le 14 juillet 1790, la messe de la Fédération au Champ de Mars; Talleyrand l'avait dite comme évêque, Louis l'avait servie comme diacre.
  </p>
</div>
<h5>中央寄せ</h5>
<div class="box text-center green">
<p lang="fa">
  Il y avait encore des Prussiens en France. M. Delalot était un personnage. La légitimité venait de s'affirmer en coupant le poing, puis la tête, à Pleignier, à Carbonneau et à Tolleron. Le prince de Talleyrand, grand chambellan, et l'abbé Louis, ministre désigné des finances, se regardaient en riant du rire de deux augures; tous deux avaient célébré, le 14 juillet 1790, la messe de la Fédération au Champ de Mars; Talleyrand l'avait dite comme évêque, Louis l'avait servie comme diacre.</p>
</div>
<h5>左寄せ</h5>
<div class="box text-left green">
<p lang="fa">
  Il y avait encore des Prussiens en France. M. Delalot était un personnage. La légitimité venait de s'affirmer en coupant le poing, puis la tête, à Pleignier, à Carbonneau et à Tolleron. Le prince de Talleyrand, grand chambellan, et l'abbé Louis, ministre désigné des finances, se regardaient en riant du rire de deux augures; tous deux avaient célébré, le 14 juillet 1790, la messe de la Fédération au Champ de Mars; Talleyrand l'avait dite comme évêque, Louis l'avait servie comme diacre.
</p>
</div>
</div>

</div><!--/ .card -->
</div>

<!-- editable area end ########             -->
</article>
</div>
<!-- /container-->

<!-- / w-aside2 --->
