<aside class="w-aside col-lg-2 print-none order-0" id="w-aside1">
<div class="w-aside-inner container">
<div class="accordion" id="accordionAside">
<div class="w-subnav">
<div id="headingOne">
<h3 class="sticky-top">
  <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" >
PC Operation</button>
</h3>
</div>
<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionAside">
<!-- BOlist modile -->
<ul id="w-BOlist" class="list-unstyled w-BOlist">
        <li class="" v-for="title in titles"><a v-bind:href="title.url" v-bind:title="title.titleen">{{titlename}} </a></li>
        </ul>
        <!-- /BOlist modile -->
</div>
</div>
<div class="w-subnav">
<div id="heading2">
<h3 class="sticky-top">
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">web Outline</button>
</h3>
</div>
<div id="collapseTwo" class="collapse" aria-labelledby="heading2" data-parent="#accordionAside">
<!-- OLlist modile -->
<ul id="w-OLlist" class="list-unstyled">
  <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{titlename}} </a></li>
</ul>
<!-- /OLlist modile -->
</div>
</div>
<div class="w-subnav">
<div id="heading3">
<h3 class="sticky-top">
  <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">HTML</button>
      </h3>
</div>
<div id="collapseThree" class="collapse" aria-labelledby="heading3" data-parent="#accordionAside">
<!-- OLlist modile -->
<ul id="w-MKlist" class="list-unstyled">
  <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{titlename}}</a></li>
</ul>
<!-- /OLlist modile -->
</div>
</div>

<div class="w-subnav">
<div id="heading4">
<h3 class="sticky-top">
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">Text Editor
</button>
</h3>
</div>
<div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionAside">
<!-- EDlist modile -->
<ul id="w-EDlist" class="list-unstyled">
<li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{titlename}}</a></li>
</ul>
<!-- /EDlist modile -->
</div>
</div>
<div class="w-subnav">
<div id="heading5">
<h3 class="sticky-top">
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">CSS
</button>
</h3>
</div>
<div id="collapse5" class="collapse" aria-labelledby="heading4" data-parent="#accordionAside">
<!-- EDlist modile -->
<ul id="w-CSSlist" class="list-unstyled">
  <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{titlename}} </a></li>
</ul>
<!-- /csslist modile -->
</div>
</div>

<div class="w-subnav">
<div id="heading6">
<h3 class="sticky-top">
<button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">javascript
</button>
</h3>
</div>
<div id="collapse6" class="collapse" aria-labelledby="heading4" data-parent="#accordionAside">
<!-- EDlist modile -->
<ul id="w-JSlist" class="list-unstyled">
  <li class="" v-for="title in titles"><a class="" v-bind:href="title.url" v-bind:title="title.titleen">{{titlename}} </a></li>
</ul>
<!-- /jslist modile -->
</div>
</div>

  </div><!-- /accordionAside -->
</div>
<script src="_js/_common/VueBOnavlist.js"></script>
</aside>
